.Statistic {
   background-color: rgb(100, 136, 177);
   box-sizing: border-box;
   display: inline-flex;
   flex-direction: column;
   width: 20vw;
   height: 85vh;
   text-align: center;
   margin: 0;
   padding: 10px;
   color: white;
}

.StatisticsDiv {

   border-radius: 5px;
   margin-bottom: 30px;
   background-color: darkcyan;
}

.Statistic>h1 {
   box-sizing: border-box;
   margin: 0;
   text-align: center;
   color: greenyellow
}


.Statistic>h2 {
   box-sizing: border-box;
   margin: 0;
   text-align: center;
   color: greenyellow
}

.Statistic>h3 {
   box-sizing: border-box;
   margin: 0;
   text-align: center;
   color: greenyellow;
   background-color: darkcyan;
}

.Statistic p {
   margin: 5px;
}