.ProductCard {
   box-sizing: border-box;
   display: inline-flex;
   position: relative;
   background-color: brown;
   border-radius: 7px;
   width: 300px;
   height: 120px;
   margin: 5px;
   padding: 10px;
}

.ProductCard img {
   width: 100px;
   height: 100px;
   position: absolute;
   object-fit: cover;
   display: inline-block;
   margin: 10px;
   margin-top: 0px;
   margin-left: auto;
   right: 0px;
   border-radius: 7px;
}

.ProductCard p {
   display: block;
}

.ProductCard span {
   left: -80px;
   cursor: pointer;
}