/* Body */
html,
body,
#root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    font-size: large;
    color: black;
}

a {
    color: rgb(25, 25, 87);
    text-decoration: none;
}

hr {

    border: none;
    border-top: 1px dotted white;

}

.BoldText {
    font-size: large;
    font-weight: bold;
    text-align: center;
}